@model Wedding.Models.IndexViewModel

<!--banner Section start-->
<section class="banner">
    <div id="rev_slider_wrapper" style="overflow: visible;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="slider1" class="rev_slider">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="boxslide">
                    <!-- MAIN IMAGE -->
                    <img  src="~/Pictures/Overlook1.jpg" alt="">
                    <!-- LAYERS -->
                    <div class="banner-content-wrapper" style="margin-top:0px; margin-left:50px;">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme"
                             id="slide-398-layer-4"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="60"
                             data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-start="1500"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="">
                            <img alt="#" src="~/assets/images/img-design.png">
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
                             id="slide-396-layer-5"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="90"
                             data-width="['auto','auto','auto','auto']"
                             data-height="['auto','auto','auto','auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-start="1300"
                             data-splitin="chars"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05"
                             style="font-size: 60px; margin-bottom:-100px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px;  font-family: 'Roboto', sans-serif; font-weight: 500">
                            <h1 class="head-text">Caitlyn <span>&amp;</span> Ian</h1>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-Button rev-btn "
                             id="slide-396-layer-6"
                             data-x="center" data-hoffset=""
                             data-y="bottom" data-voffset="40"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;s:1000;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="font-size: 14px;  color:#774f38;">
                            <span>Engaged!</span>
                        </div>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li data-transition="curtain-1">
                    <!-- MAIN IMAGE -->
                    <img src="~/Pictures/Waterfall1.jpg" alt="">
                    <!-- LAYERS -->


                </li>

                <!-- SLIDE  -->
                <li data-transition="3dcurtain-horizontal">
                    <!-- MAIN IMAGE -->
                    <img src="~/Pictures/Ring1.jpg" alt="">
                    <!-- LAYERS -->


                </li>
            </ul>
        </div>
    </div>
</section>
<!--banner Section End-->

<!--Content Area Start-->
<div id="content">
    <!-- happy couple section start here -->
    <section class="happy-couple" id="couple">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header-center">
                        <h2>happy couple</h2>
                    </div>
                    <div class="bell">
                        <img src="~/Pictures/CaitlynLooking.jpg" alt="">
                        <div class="inner-header-wrapper-left inner-header-wrapper">
                            <h3><a href="#">Caitlyn Munger</a></h3>
                            <p>
                                She homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ex, ea ius facete nominaviId vim laudem nusquam, mea cu torquatos vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri. Diam discere adole cens pri eu, vel dico vidisse disputationi ne. An sea unum iusto quando, id accumsan persecuti ius. Vidisse scaevola ut eam, ne his modo voluptua evertitur.
                            </p>
                            
                        </div>
                    </div>
                    <div class="jack">
                        <img src="~/Pictures/IanLooking.jpg" alt="">
                        <div class="inner-header-wrapper-right inner-header-wrapper">
                            <h3><a href="#">Ian Weston</a></h3>
                            <p>
                                Ian is a 27 year old software developer raised outside of Clarksville, TN. He is hardworking, passionate, driven, and dedicated to his career. Ian is kind and caring, he is devoted to his family and is always there to lend a helping hand. He enjoys to be outdoors, hiking, mountain biking, running, and playing basketball whenever he gets the chance. He loves the simple things in life, reading, watching UFC, playing video games, and spending his time with friends and family. Ian is the kind of man who motivates you to better yourself, and to do good for the world in any small or large way that you can. An organized and serious man, Ian plans everything out to the smallest details, and takes no decision with a grain of salt. He is a well rounded person, deeply intelligent, funny, and incredibly loving. Everyone in his life is truly lucky to know him, and I am the luckiest for being able to spend my life with him.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--happy couple section end here -->
    <!--Count-down section start here -->
    <div class="count-down">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Engagement Party July 23rd 2016</h2>
                    <ul class="clearfix" id="countdown">
                        <li>
                            <a href="#">59<span>Days</span></a>
                        </li>
                        <li>
                            <a href="#">17<span>Hours</span></a>
                        </li>
                        <li>
                            <a href="#">36<span>Minutes</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Count-down section end here -->
    <!--Our-stroy section start here -->
    <div class="our-story">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        "Whatever our souls are made of, his and mine are the same." <br/><br />-Emily Brönte
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Our-stroy end here -->
    <!--Our-success-story section start here -->
    <section class="our-success-Story" id="our-story">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header-center">
                        <h2>Our Story</h2>
                    </div>
                    <div class="timeline-scale"></div>
                    <div class="left-right-wrapper clearfix">
                        <span class="time-line-divider"> </span>
                        <div class="left-section-content">
                            <article class="met-section">
                                <h3><a href="#">How We Met</a></h3>
                                <div class="arrow-cls">
                                </div>
                                <p>
                                    Ego vero volo in virtute vim esse quam maximam;
                                    Inde igitur, inquit, ordiendum est. Ne amores quidem sanctos a sapiente alienos esse arbitrantur.
                                    Non quam nostram quidem, inquit Pomponius iocans; De vacuitate doloris eadem sententia erit.
                                </p>
                            </article>
                            <article class="met-section">

                                <h3><a href="#">The Proposal</a></h3>
                                <div class="arrow-cls">
                                </div>
                                <figure>
                                    <img style="max-height:600px;" src="~/Pictures/GalleryPictures/pic%20(73).jpg" alt="">
                                </figure>
                                <p>
                                    Quickly after meeting each other, Ian and Caitlyn both knew they wanted to spend their lives together. Conversation after conversation about building a future together, they knew without a doubt that this was truly meant to be. Over the span of just a short few months, they knew what they needed to do - make the move! Picking out a ring together, and sharing every moment of such a happy time, every day solidified their decision even more. They both knew the answer was “yes” and felt no need for a dramatic proposal, excited to turn their dream into a reality, and jumped head first into their decision, never looking back.
                                </p>
                            </article>
                           
                        </div>
                        <div class="right-section-content">
                            <article class="met-section met-section-right">
                                <h3><a href="#">The First Date</a></h3>
                                <div class="arrow-cls right-arrow-cls">
                                </div>
                                <figure>
                                    <img style="max-height:600px;" src="~/Pictures/GalleryPictures/pic%20(124).jpg" alt="" />
                                </figure>
                                <p>
                                    After spending several days talking and getting to know each other, Ian asked Caitlyn to meet for lunch at Cantina Laredo in Huntsville. Chatting over chips and salsa, they enjoyed an easy and comfortable conversation, discovering similarities and common ground quickly. Ian was his polite self, eating tacos with a fork and knife, while Caitlyn dove into her enchiladas (no shame!) After lunch they made plans to meet again for dinner later that week, and never slowed down!
                                </p>
                            </article>
                            <article class="met-section met-section-right">
                                <h3><a href="#">The Engagement</a></h3>
                                <div class="arrow-cls right-arrow-cls">
                                </div>
                                <p>
                                    A few months into their engagement, Caitlyn and Ian are engulfed in the planning of their future and are so excited to start this journey to become a Mr and Mrs. They are enjoying every step of this process and can’t wait for the big day to be here. They are planning a non traditional ceremony together, and are considering every detail to make their wedding day as special as possible for each other.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Our-success-story end here -->
    <!--wedding-event section start here -->
    <section class="wedding-event" id="event">
        <div class="wedding-event-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="header-center">
                            <h2>Marriage Events</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row padding-right">
                <div class="col-xs-12 col-md-7 col-sm-7">
                    <figure>
                        <img src="~/Pictures/GalleryPictures/pic%20(86).jpg" alt="">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
                    <div class="event-description-wrapper">
                        <div class="event-description">
                            <h3><a href="#">Engagement Party</a></h3>
                            <span class="day-class">Saturday, July 23, 2016</span>
                            <span class="clk-class">2:00 PM - 7:00 PM</span>
                            <address>
                                <span class="map-class">Artisan Lounge</span>
                                <span class="venue-class">700 Dorothy Ford Ln Huntsville, AL 35801</span>
                            </address>
                            <p>
                                We would still love to celebrate our engagement with our loved ones, so we are throwing an engagement party in order for you all to be able to share this experience with us. Because we are not inviting guests to our wedding, we are hopeful that you will come be a part of our journey together in Huntsville, AL. There may not be any wedding vows, but there will be love, laughter, food, and drinks! Please consider this alternative to a large wedding ceremony, as we would love to have you join in on our journey to the altar. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-right">
                <div class="col-xs-12 col-md-5 col-sm-5 push">
                    <div class="event-description-wrapper reception-description-sec">
                        <div class="event-description">
                            <h3><a href="#">Wedding</a></h3>

                            <span class="day-class">TBD</span>
                            <address>
                                <span class="map-class">Santorini, Greece</span>
                            </address>
                            <br/>
                            <p>
                                Caitlyn and Ian have planned a private destination wedding ceremony in Santorini, Greece. There will not be a guest list as they want their day to be as simple and intimate as possible. They are sharing their wedding day with their parents, as a way of thanking them for the path they paved for Caitlyn and Ian, which led them to each other. After the ceremony they hope to spend two weeks in Greece, honeymooning and exploring as they start their new adventure together. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-sm-7 ">
                    <figure>
                        <img src="~/Pictures/Santorini.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--wedding-event section end here -->
   
    <!--friend-wishes section start here -->
    <section class="friend-wishes" style="background:white;">
        <div class="container">
            <div class="row">
                <div class="header-center">
                    <h2>Friends Wishes</h2>
                </div>
            </div>
            <div class="wishes clearfix">
                <div class="row">
                    <div id="people-thought">

                        @foreach (Wedding.Models.MessageModel message in Model.Messages)
                        {
                            <div class="item">
                                <div class="quoto">
                                    <div class="para-wrapper" style="max-height:150px; min-height:150px; overflow:auto; ">
                                        <p>
                                            “@message.Message”
                                        </p>
                                    </div>

                                    <div class="overlay clearfix">
                                        <span class="profile-info"><strong>@message.Name</strong></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @Scripts.Render("~/Scripts/Index.js")
        @Scripts.Render("~/Scripts/Ajax.js")

        <input hidden id="SaveMessageURL" value="@Url.Action("SaveMessage","Home")" />
        <div class="touch" style="padding-top:20px !important;">
            <div class="container">
                <div class="col-md-12" style="margin-bottom:40px;">
                    <span>Write your special wishes. We love to hear from all of you ...</span>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <input type="text" id="wishesName" class="col-md-4" placeholder="Your Name" maxlength="50" style="width:100%; float:none;"></input>
                    </div>
                    
                    <div class="col-md-12">
                        <textarea id="wish" class="col-md-12" placeholder="Your Message..." rows="4" style="text-transform:none !important; width:100%;" maxlength="500"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <input id="saveButton" type="button" value="Save" class="col-md-2 col-md-offset-5" onclick="SaveMessage()" />
                </div>
            </div>
        </div>
    </section>
    <!--friend-wishes section end here -->
    <!--Get-intouch section start -->
   
    <!--Get-intouch section end -->
    <!--wedding-gift-section start-->
  
    <!--wedding-gift section end -->
    <!--wedding-gift section start-->
    <section class="wedding-gift">
        
        <div class="wedding-section-gift">
            <div class="container">
                <div class="row text-center">
                    <div class="header-center">
                        <h2>Wedding Gifts</h2>
                    </div>
                    <div class="sub-para">
                        <p>
                            We're simply grateful for your presence to celebrate the occasion with us!<br/><br/>

                            If you would like to get us something, we'd love that too! We are focused on our trip to Greece so we're welcoming all 
                            monetary donations to make that possible. If you enjoy a more traditional approach we are registered at Target.
                            <br /><br />
                            <b>Thanks!</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="wedding-item" class="text-center">
                    <a href="https://support.google.com/mail/answer/3141103?hl=en"><img src="~/Pictures/GoogleWallet.png" style="margin-right:40px;" /></a>
                    <a href="https://www.paypal.com/ca/webapps/mpp/send-money-online"><img src="~/Pictures/PayPalLogo.png" style="margin-right:40px;" /></a>
                    <a href="http://m.target.com/gift-registry/giftgiver?registryId=VCKltSdWiiPYH3Fax6j0kQ"><img src="~/Pictures/TargetLogo.png" /></a>
                    </div>
                <br/>
                <div id="wedding-item" class="text-center">
                    <br/>
                    <h3>Ian.P.Weston@gmail.com</h3>
                    <h5>700 Dorothy Ford Ln Apt 432<br/>Huntsville, AL 35801</h5>
                </div>
            </div>
        </div>
    </section>

    <input hidden id="SaveRSVPURL" value="@Url.Action("SaveRSVP","Home")" />
    <section class="attending-class">
        <div class="container">
            <div class="row">
                <div class="header-center" style="background:black; width:70%; margin:0 auto; margin-bottom:20px;">
                    <h2 style="color:white; padding:0;" >Are You Attending?</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-10 col-sm-push-1">
                    <div class="rsvp-wrapper" data-ng-controller="rsvp2Ctrl">
                        <h3>RSVP</h3>
                        <span class="plz-cls">Please RSVP before July 16</span>
                        <form class="rsvpForm" name="form" novalidate>
                            <div class="inner-wrapper">
                                <div class="input-box">
                                    <input id="nameRSVP" type="text" name="fname" placeholder="Your Name" data-ng-pattern="/^(\D)+$/" data-ng-model="user.name" required="">
                                </div>

                                
                            </div>
                            <div class="inner-wrapper">
                                <div class="input-box">
                                    <input id="rsvpMail" type="text" name="email" placeholder="Email" data-ng-model="user.email" required="">
                                </div>
                            </div>
                            <div class="inner-wrapper">
                                <div class="input-box">
                                    <input id="rsvpGuest" type="text" placeholder="No Of Guests" name="rsvpGuest" data-ng-model="user.guest" data-ng-pattern="/^(\d)+$/" required="">
                                </div>
                            </div>

                            <div class="inner-wrapper">
                                <textarea id="rsvpNotes" placeholder="Notes" name="note" data-ng-model="user.notes" required=''></textarea>
                            </div>
                            
                            

                            <button id="btnSubmitRSVP" type="button" onclick="SubmitRSVP()">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--wedding-gift-section end-->
    <!--Attending-section-start-->


    <section class="gallery-part" id="photos">
        <div class="header-center">
            <h2>Gallery</h2>
        </div>
        <div class="tabbing-wrapper">
        </div>

        <div class="gallery-blog">
            <ul class="gallery-img-sec clearfix">
                @for (int i = 1; i <= 161; i++)
                {

                    <li class="main-item all wedding">
                        <a class="fancybox-button" data-fancybox-group="fancybox-button" href="~/Pictures/GalleryPictures/pic%20(@(i.ToString())).jpg" title="">
                            <img src="~/Pictures/GalleryPictures/pic%20(@(i.ToString())).jpg" />
                            </a>
                    </li>
                }
            </ul>
            <button title="Tooltip on bottom" data-placement="bottom" data-toggle="tooltip" class="btn btn-default" type="button">
                LOAD MORE
            </button>
        </div>
    </section>
    <!--Attending-section-end-->
</div>
<!--Content Area End-->